RewriteEngine On

# Não aplicar a regra para arquivos ou diretórios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecionar todas as solicitações para index.php (ou index.html)
RewriteRule ^ index.php [QSA,L]
